<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapters</key>
	<array>
		<dict>
			<key>number</key>
			<integer>1</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>This is the oracle that the prophet Habakkuk saw:</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>How long, Lord, must I cry for help? But you do not listen!I call out to you, “Violence!” But you do not deliver!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>Why do you force me to witness injustice? Why do you put up with wrongdoing? Destruction and violence confront me;conflict is present and one must endure strife.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>For this reason the law lacks power, and justice is never carried out. Indeed, the wicked intimidate the innocent. For this reason justice is perverted.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>“Look at the nations and pay attention! You will be shocked and amazed! For I will do something in your lifetime that you will not believe even though you are forewarned.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>Look, I am about to empower the Babylonians,that ruthless and greedy nation.They sweep across the surface of the earth,seizing dwelling places that do not belong to them.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>They are frightening and terrifying;they decide for themselves what is right.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>Their horses are faster than leopardsand more alert than wolves in the desert. Their horses gallop, their horses come a great distance;like vultures they swoop down quickly to devour their prey.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>All of them intend to do violence;every face is determined. They take prisoners as easily as one scoops up sand.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>They mock kingsand laugh at rulers.They laugh at every fortified city;they build siege ramps and capture them.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>They sweep by like the wind and pass on. But the one who considers himself a god will be held guilty.”</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>Lord, you have been active from ancient times; my sovereign God, you are immortal. Lord, you have made them your instrument of judgment. Protector, you have appointed them as your instrument of punishment.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>You are too just to tolerate evil;you are unable to condone wrongdoing.So why do you put up with such treacherous people? Why do you say nothing when the wicked devour those more righteous than they are?</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>You made people like fish in the sea,like animals in the sea that have no ruler.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_15</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>15</integer>
					<key>text</key>
					<string>The Babylonian tyrant pulls them all up with a fishhook;he hauls them in with his throw net. When he catches them in his dragnet,he is very happy.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_16</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>16</integer>
					<key>text</key>
					<string>Because of his success he offers sacrifices to his throw netand burns incense to his dragnet; for because of them he has plenty of food and more than enough to eat.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_1_17</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>17</integer>
					<key>text</key>
					<string>Will he then continue to fill and empty his throw net? Will he always destroy nations and spare none?</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>2</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>I will stand at my watch post;I will remain stationed on the city wall. I will keep watching so I can see what he says to meand can know how I should answerwhen he counters my argument.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>The Lord responded: “Write down this message. Record it legibly on tabletsso the one who announces it may read it easily.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>For the message is a witness to what is decreed; it gives reliable testimony about how matters will turn out. Even if the message is not fulfilled right away, wait patiently; for it will certainly come to pass—it will not arrive late.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>Look, the one whose desires are not upright will faint from exhaustion, but the person of integrity will live because of his faithfulness.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>Indeed, wine will betray the proud, restless man! His appetite is as big as Sheol’s; like death, he is never satisfied.He gathers all the nations;he seizes all peoples.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>“But all these nations will someday taunt him and ridicule him with proverbial sayings: ‘Woe to the one who accumulates what does not belong to him (how long will this go on?)—he who gets rich by extortion!’</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>Your creditors will suddenly attack; those who terrify you will spring into action, and they will rob you.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>Because you robbed many countries, all who are left among the nations will rob you.You have shed human blood and committed violent acts against lands, cities, and those who live in them.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>“The one who builds his house by unjust gain is as good as dead. He does this so he can build his nest way up highand escape the clutches of disaster.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>Your schemes will bring shame to your house.Because you destroyed many nations, you will self-destruct.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>For the stones in the walls will cry out,and the wooden rafters will answer back.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>“Woe to the one who builds a city by bloodshed—he who starts a town by unjust deeds.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>Be sure of this! The Lord of Heaven’s Armies has decreed:The nations’ efforts will go up in smoke; their exhausting work will be for nothing.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>For recognition of the Lord’s sovereign majesty will fill the earthjust as the waters fill up the sea.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_15</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>15</integer>
					<key>text</key>
					<string>“Woe to you who force your neighbor to drink wine—you who make others intoxicated by forcing them to drink from the bowl of your furious anger so you can look at their naked bodies.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_16</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>16</integer>
					<key>text</key>
					<string>But you will become drunk with shame, not majesty. Now it is your turn to drink and expose your uncircumcised foreskin! The cup of wine in the Lord’s right hand is coming to you,and disgrace will replace your majestic glory!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_17</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>17</integer>
					<key>text</key>
					<string>For you will pay in full for your violent acts against Lebanon; terrifying judgment will come upon you because of the way you destroyed the wild animals living there. You have shed human bloodand committed violent acts against lands, cities, and those who live in them.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_18</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>18</integer>
					<key>text</key>
					<string>What good is an idol? Why would a craftsman make it? What good is a metal image that gives misleading oracles? Why would its creator place his trust in it and make such mute, worthless things?</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_19</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>19</integer>
					<key>text</key>
					<string>Woe to the one who says to wood, ‘Wake up!’—he who says to speechless stone, ‘Awake!’Can it give reliable guidance? It is overlaid with gold and silver;it has no life’s breath inside it.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_2_20</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>20</integer>
					<key>text</key>
					<string>But the Lord is in his majestic palace. The whole earth is speechless in his presence!”</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>3</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>This is a prayer of Habakkuk the prophet:</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>Lord, I have heard the report of what you did; I am awed, Lord, by what you accomplished. In our time repeat those deeds; in our time reveal them again. But when you cause turmoil, remember to show us mercy!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>God comes from Teman, the Holy One from Mount Paran. Selah. His splendor has covered the skies, the earth is full of his glory.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>His brightness will be as lightning; a two-pronged lightning bolt flashing from his hand. This is the outward display of his power.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>Plague will go before him;pestilence will march right behind him.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>He took his battle position and shook the earth;with a mere look he frightened the nations.The ancient mountains disintegrated; the primeval hills were flattened.His are ancient roads.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>I saw the tents of Cushan overwhelmed by trouble; the tent curtains of the land of Midian were shaking.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>Was the Lord mad at the rivers?Were you angry with the rivers?Were you enraged at the sea? Such that you would climb into your horse-drawn chariots, your victorious chariots?</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>Your bow is ready for action; you commission your arrows. Selah.You cause flash floods on the earth’s surface.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>When the mountains see you, they shake.The torrential downpour sweeps through. The great deep shouts out;it lifts its hands high.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>The sun and moon stand still in their courses; the flash of your arrows drives them away, the bright light of your lightning-quick spear.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>You furiously stomp on the earth;you angrily trample down the nations.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>You march out to deliver your people,to deliver your special servant. You strike the leader of the wicked nation, laying him open from the lower body to the neck. Selah.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>You pierce the heads of his warriors with a spear. They storm forward to scatter us; they shout with joy as if they were plundering the poor with no opposition.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_15</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>15</integer>
					<key>text</key>
					<string>But you trample on the sea with your horses,on the surging, raging waters.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_16</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>16</integer>
					<key>text</key>
					<string>I listened and my stomach churned; the sound made my lips quiver.My frame went limp, as if my bones were decaying, and I shook as I tried to walk. I long for the day of distressto come upon the people who attack us.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_17</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>17</integer>
					<key>text</key>
					<string>When the fig tree does not bud,and there are no grapes on the vines;when the olive trees do not produce and the fields yield no crops; when the sheep disappear from the penand there are no cattle in the stalls—</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_18</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>18</integer>
					<key>text</key>
					<string>I will rejoice because of the Lord;I will be happy because of the God who delivers me!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Habakkuk_3_19</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>19</integer>
					<key>text</key>
					<string>The Sovereign Lord is my source of strength. He gives me the agility of a deer; he enables me to negotiate the rugged terrain. (This prayer is for the song leader. It is to be accompanied by stringed instruments.)</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>name</key>
	<string>Habakkuk</string>
</dict>
</plist>
