<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapters</key>
	<array>
		<dict>
			<key>number</key>
			<integer>1</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Joel_1_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>This is the Lord’s message that came to Joel the son of Pethuel:</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>Listen to this, you elders; pay attention, all inhabitants of the land.Has anything like this ever happened in your whole life or in the lifetime of your ancestors?</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>Tell your children about it;have your children tell their children,and their children the following generation.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>What the gazam-locust left the ‘arbeh-locust consumed; what the ‘arbeh-locust left the yeleq-locust consumed;and what the yeleq-locust left the hasil-locust consumed.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>Wake up, you drunkards, and weep!Wail, all you wine drinkers, because the sweet wine has been taken away from you.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>For a nation has invaded my land,mighty and without number.Their teeth are lion’s teeth;they have the fangs of a lioness.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>They have destroyed my vines; they have turned my fig trees into mere splinters.They have completely stripped off the bark and thrown it aside;the twigs are stripped bare.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>Wail like a young virgin clothed in sackcloth,lamenting the death of her husband to be.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>No one brings grain offerings or drink offerings to the temple of the Lord anymore. So the priests, those who serve the Lord, are in mourning.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>The crops of the fields have been destroyed. The ground is in mourning because the grain has perished.The fresh wine has dried up;the olive oil languishes.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>Be distressed, farmers;wail, vinedressers, over the wheat and the barley.For the harvest of the field has perished.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>The vine has dried up;the fig tree languishes—the pomegranate, date, and apple as well. In fact, all the trees of the field have dried up.Indeed, the joy of the people has dried up!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>Get dressed and lament, you priests.Wail, you who minister at the altar.Come, spend the night in sackcloth, you servants of my God,because no one brings grain offerings or drink offerings to the temple of your God anymore.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>Announce a holy fast; proclaim a sacred assembly.Gather the elders and all the inhabitants of the landto the temple of the Lord your God,and cry out to the Lord.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_15</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>15</integer>
					<key>text</key>
					<string>How awful that day will be! For the day of the Lord is near;it will come as destruction from the Divine Destroyer.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_16</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>16</integer>
					<key>text</key>
					<string>Our food has been cut off right before our eyes! There is no longer any joy or gladness in the temple of our God.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_17</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>17</integer>
					<key>text</key>
					<string>The grains of seed have shriveled beneath their shovels. Storehouses have been decimated,and granaries have been torn down because the grain has dried up.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_18</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>18</integer>
					<key>text</key>
					<string>Listen to the cattle groan! The herds of livestock wander around in confusion because they have no pasture.Even the flocks of sheep are suffering.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_19</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>19</integer>
					<key>text</key>
					<string>To you, O Lord, I call out for help, for fire has burned up the pastures of the wilderness,flames have razed all the trees in the fields.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_1_20</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>20</integer>
					<key>text</key>
					<string>Even the wild animals cry out to you, for the river beds have dried up;fire has destroyed the pastures of the wilderness.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>2</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Joel_2_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>Blow the trumpet in Zion;sound the alarm signal on my holy mountain!Let all the inhabitants of the land shake with fear,for the day of the Lord is about to come.Indeed, it is near!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>It will be a day of dreadful darkness, a day of foreboding storm clouds, like blackness spread over the mountains.It is a huge and powerful army—there has never been anything like it ever before,and there will not be anything like it for many generations to come!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>Like fire they devour everything in their path; a flame blazes behind them. The land looks like the Garden of Eden before them,but behind them there is only a desolate wilderness—for nothing escapes them!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>They look like horses; they charge ahead like war horses.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>They sound like chariots rumbling over mountain tops,like the crackling of blazing fire consuming stubble,like the noise of a mighty army being drawn up for battle.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>People writhe in fear when they see them. All their faces turn pale with fright.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>They charge like warriors;they scale walls like soldiers. Each one proceeds on his course;they do not alter their path.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>They do not jostle one another; each of them marches straight ahead. They burst through the city defenses and do not break ranks.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>They rush into the city;they scale its walls.They climb up into the houses;they go in through the windows like a thief.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>The earth quakes before them; the sky reverberates. The sun and the moon grow dark; the stars refuse to shine.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>The voice of the Lord thunders as he leads his army. Indeed, his warriors are innumerable; Surely his command is carried out! Yes, the day of the Lord is awesome and very terrifying—who can survive it?</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>“Yet even now,” the Lord says,“return to me with all your heart—with fasting, weeping, and mourning.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>Tear your hearts, not just your garments.”Return to the Lord your God,for he is merciful and compassionate, slow to anger and boundless in loyal love—often relenting from calamitous punishment.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>Who knows? Perhaps he will be compassionate and grant a reprieve, and leave blessing in his wake—a meal offering and a drink offering for you to offer to the Lord your God!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_15</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>15</integer>
					<key>text</key>
					<string>Blow the trumpet in Zion.Announce a holy fast;proclaim a sacred assembly.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_16</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>16</integer>
					<key>text</key>
					<string>Gather the people;sanctify an assembly!Gather the elders;gather the children and the nursing infants.Let the bridegroom come out from his bedroomand the bride from her private quarters.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_17</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>17</integer>
					<key>text</key>
					<string>Let the priests, those who serve the Lord, weepfrom the vestibule all the way back to the altar. Let them say, “Have pity, O Lord, on your people;please do not turn over your inheritance to be mocked,to become a proverb among the nations.Why should it be said among the peoples,‘Where is their God?’”</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_18</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>18</integer>
					<key>text</key>
					<string>Then the Lord became zealous for his land;he had compassion on his people.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_19</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>19</integer>
					<key>text</key>
					<string>The Lord responded to his people,“Look! I am about to restore your grain as well as fresh wine and olive oil.You will be fully satisfied. I will never again make you an object of mockery among the nations.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_20</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>20</integer>
					<key>text</key>
					<string>I will remove the one from the north far from you.I will drive him out to a dry and desolate place.Those in front will be driven eastward into the Dead Sea, and those in back westward into the Mediterranean Sea. His stench will rise up as a foul smell.” Indeed, the Lord has accomplished great things!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_21</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>21</integer>
					<key>text</key>
					<string>Do not fear, my land.Rejoice and be gladbecause the Lord has accomplished great things!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_22</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>22</integer>
					<key>text</key>
					<string>Do not fear, wild animals. For the pastures of the wilderness are again green with grass.Indeed, the trees bear their fruit;the fig tree and the vine yield to their fullest.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_23</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>23</integer>
					<key>text</key>
					<string>Citizens of Zion, rejoice! Be glad because of what the Lord your God has done! For he has given to you the early rains as vindication.He has sent to you the rains—both the early and the late rains as formerly.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_24</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>24</integer>
					<key>text</key>
					<string>The threshing floors are full of grain;the vats overflow with fresh wine and olive oil.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_25</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>25</integer>
					<key>text</key>
					<string>“I will make up for the years that the ‘arbeh-locust consumed your crops—the yeleq-locust, the hasil-locust, and the gazam-locust—my great army that I sent against you.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_26</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>26</integer>
					<key>text</key>
					<string>You will have plenty to eat, and your hunger will be fully satisfied; you will praise the name of the Lord your God,who has acted wondrously in your behalf.My people will never again be put to shame.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_27</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>27</integer>
					<key>text</key>
					<string>You will be convinced that I am in the midst of Israel.I am the Lord your God; there is no other.My people will never again be put to shame.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_28</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>28</integer>
					<key>text</key>
					<string>(3:1) “After all of this I will pour out my Spirit on all kinds of people. Your sons and daughters will prophesy.Your elderly will have prophetic dreams; your young men will see visions.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_29</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>29</integer>
					<key>text</key>
					<string>Even on male and female servantsI will pour out my Spirit in those days.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_30</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>30</integer>
					<key>text</key>
					<string>I will produce portents both in the sky and on the earth—blood, fire, and columns of smoke.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_31</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>31</integer>
					<key>text</key>
					<string>The sunlight will be turned to darknessand the moon to the color of blood, before the day of the Lord comes—that great and terrible day!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_2_32</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>32</integer>
					<key>text</key>
					<string>It will so happen that everyone who calls on the name of the Lord will be delivered. For on Mount Zion and in Jerusalem there will be those who survive, just as the Lord has promised;the remnant will be those whom the Lord will call.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>3</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Joel_3_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>(4:1) “For look! In those days and at that timeI will return the exiles to Judah and Jerusalem.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>Then I will gather all the nationsand bring them down to the Valley of Jehoshaphat. I will enter into judgment against them thereconcerning my people Israel who are my inheritance, whom they scattered among the nations.They partitioned my land,</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>and they cast lots for my people.They traded a boy for a prostitute;they sold a little girl for wine so they could drink.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>Why are you doing these things to me, Tyre and Sidon? Are you trying to get even with me, land of Philistia? If you are, I will very quickly repay you for what you have done!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>For you took my silver and my goldand brought my precious valuables to your own palaces.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>You sold Judeans and Jerusalemites to the Greeks,removing them far from their own country.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>Look! I am rousing them from that place to which you sold them.I will repay you for what you have done!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>I will sell your sons and daughters to the people of Judah. They will sell them to the Sabeans, a nation far away.”Indeed, the Lord has spoken.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>Proclaim this among the nations:“Prepare for a holy war!Call out the warriors!Let all these fighting men approach and attack!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>Beat your plowshares into swordsand your pruning hooks into spears. Let the weak say, ‘I too am a warrior!’</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>Lend your aid and come,all you surrounding nations,and gather yourselves to that place.”Bring down, O Lord, your warriors!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>“Let the nations be roused and let them go upto the Valley of Jehoshaphat,for there I will sit in judgment on all the surrounding nations.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>Rush forth with the sickle, for the harvest is ripe!Come, stomp the grapes, for the winepress is full!The vats overflow.Indeed, their evil is great!”</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>Crowds, great crowds are in the Valley of Decision,for the day of the Lord is near in the Valley of Decision!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_15</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>15</integer>
					<key>text</key>
					<string>The sun and moon are darkened;the stars withhold their brightness.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_16</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>16</integer>
					<key>text</key>
					<string>The Lord roars from Zion;from Jerusalem his voice bellows out. The heavens and the earth shake.But the Lord is a refuge for his people;he is a stronghold for the citizens of Israel.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_17</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>17</integer>
					<key>text</key>
					<string>“You will be convinced that I, the Lord, am your God,dwelling on Zion, my holy mountain.Jerusalem will be holy—conquering armies will no longer pass through it.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_18</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>18</integer>
					<key>text</key>
					<string>On that day the mountains will drip with sweet wine, and the hills will flow with milk. All the dry stream beds of Judah will flow with water.A spring will flow out from the temple of the Lord,watering the Valley of Acacia Trees.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_19</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>19</integer>
					<key>text</key>
					<string>Egypt will be desolate,and Edom will be a desolate wildernessbecause of the violence they did to the people of Judah, in whose land they shed innocent blood.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_20</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>20</integer>
					<key>text</key>
					<string>But Judah will reside securely forever,and Jerusalem will be secure from one generation to the next.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Joel_3_21</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>21</integer>
					<key>text</key>
					<string>I will avenge their blood that I had not previously acquitted.”It is the Lord who dwells in Zion!</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>name</key>
	<string>Joel</string>
</dict>
</plist>
