<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapters</key>
	<array>
		<dict>
			<key>number</key>
			<integer>1</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>Solomon’s Most Excellent Love Song.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Oh, how I wish you would kiss me passionately! For your lovemaking is more delightful than wine.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>The fragrance of your colognes is delightful; your name is like the finest perfume. No wonder the young women adore you!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>Draw me after you; let us hurry! May the king bring me into his bedroom chambers! [The Maidens] [to the Lover:] We will rejoice and delight in you; we will praise your love more than wine.[The Beloved to Her Lover:] How rightly the young women adore you!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>[The Beloved to the Maidens:] I am dark but lovely, O maidens of Jerusalem,dark like the tents of Qedar, lovely like the tent curtains of Salmah.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>Do not stare at me because I am dark,for the sun has burned my skin. My brothers were angry with me;they made me the keeper of the vineyards.Alas, my own vineyard I could not keep!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Tell me, O you whom my heart loves,where do you pasture your sheep?Where do you rest your sheep during the midday heat?Tell me lest I wander around beside the flocks of your companions!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] If you do not know, O most beautiful of women,simply follow the tracks of my flock,and pasture your little lambsbeside the tents of the shepherds.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] O my beloved, you are like a mare among Pharaoh’s stallions.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>Your cheeks are beautiful with ornaments;your neck is lovely with strings of jewels.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>We will make for you gold ornamentsstudded with silver.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>[The Beloved about Her Lover:] While the king was at his banqueting table, my nard gave forth its fragrance.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>My beloved is like a fragrant pouch of myrrh spending the night between my breasts.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>My beloved is like a cluster of henna blossoms in the vineyards of En Gedi.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_15</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>15</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] Oh, how beautiful you are, my beloved! Oh, how beautiful you are!Your eyes are like doves!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_16</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>16</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Oh, how handsome you are, my lover! Oh, how delightful you are!The lush foliage is our canopied bed;</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_1_17</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>17</integer>
					<key>text</key>
					<string>the cedars are the beams of our bedroom chamber;the pines are the rafters of our bedroom.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>2</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] I am a meadow flower from Sharon, a lily from the valleys.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] Like a lily among the thorns, so is my darling among the maidens.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>[The Beloved about Her Lover:] Like an apple tree among the trees of the forest,so is my beloved among the young men.I delight to sit in his shade, and his fruit is sweet to my taste.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>[The Beloved about Her Lover:] He brought me into the banquet hall, and he looked at me lovingly.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>Sustain me with raisin cakes, refresh me with apples, for I am faint with love.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>His left hand is under my head, and his right hand embraces me.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>[The Beloved to the Maidens:] I admonish you, O maidens of Jerusalem,by the gazelles and by the young does of the open fields: Do not awaken or arouse love until it pleases!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>[The Beloved about Her Lover:] Listen! My lover is approaching! Look! Here he comes,leaping over the mountains,bounding over the hills!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>My lover is like a gazelle or a young stag. Look! There he stands behind our wall,gazing through the window,peering through the lattice.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] My lover spoke to me, saying:“Arise, my darling;My beautiful one, come away with me!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>Look! The winter has passed,the winter rains are over and gone.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>Blossoms have appeared in the land;the time for pruning and singing has come;the voice of the turtledove is heard in our land.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>The fig tree has ripened its figs;the vines have blossomed and give off their fragrance.Arise, come away my darling;my beautiful one, come away with me!”</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] O my dove, in the clefts of the rock,in the hiding places of the mountain crags,let me see your face;let me hear your voice;for your voice is sweet,and your face is lovely.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_15</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>15</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Catch the foxes for us,the little foxes, that ruin the vineyards—for our vineyard is in bloom.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_16</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>16</integer>
					<key>text</key>
					<string>[The Beloved about Her Lover:] My lover is mine and I am his;he grazes among the lilies.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_2_17</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>17</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Until the dawn arrives and the shadows flee,turn, my beloved—be like a gazelle or a young stagon the mountain gorges.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>3</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>[The Beloved about Her Lover:] All night long on my bed I longed for my lover. I longed for him, but he never appeared.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>“I will arise and look all around throughout the town,and throughout the streets and squares;I will search for my beloved.”I searched for him, but I did not find him.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>The night watchmen found me—the ones who guard the city walls. “Have you seen my beloved?”</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>Scarcely had I passed them bywhen I found my beloved!I held onto him tightly and would not let him go until I brought him to my mother’s house, to the bedroom chamber of the one who conceived me.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>[The Beloved to the Maidens:] I admonish you, O maidens of Jerusalem,by the gazelles and by the young does of the open fields:“Do not awaken or arouse love until it pleases!”</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>[The Speaker:] Who is this coming up from the wildernesslike a column of smoke,like a fragrant billow of myrrh and frankincense, every kind of fragrant powder of the traveling merchants?</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>Look! It is Solomon’s portable couch! It is surrounded by sixty warriors,some of Israel’s mightiest warriors.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>All of them are skilled with a sword, well trained in the art of warfare. Each has his sword at his side,to guard against the terrors of the night.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>King Solomon made a sedan chair for himselfof wood imported from Lebanon.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>Its posts were made of silver; its back was made of gold.Its seat was upholstered with purple wool; its interior was inlaid with leather by the maidens of Jerusalem.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_3_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>Come out, O maidens of Zion,and gaze upon King Solomon!He is wearing the crown with which his mother crowned himon his wedding day,on the most joyous day of his life!</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>4</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] Oh, you are beautiful, my darling! Oh, you are beautiful!Your eyes behind your veil are like doves. Your hair is like a flock of female goatsdescending from Mount Gilead.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>Your teeth are like a flock of newly shorn sheepcoming up from the washing place; each of them has a twin,and not one of them is missing.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>Your lips are like a scarlet thread; your mouth is lovely.Your forehead behind your veilis like a slice of pomegranate.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>Your neck is like the tower of Davidbuilt with courses of stones; one thousand shields are hung on it—all shields of valiant warriors.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>Your two breasts are like two fawns,twins of the gazellegrazing among the lilies.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>Until the dawn arrives and the shadows flee,I will go up to the mountain of myrrhand to the hill of frankincense.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>You are altogether beautiful, my darling!There is no blemish in you!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>Come with me from Lebanon, my bride;come with me from Lebanon.Descend from the crest of Amana,from the top of Senir, the summit of Hermon,from the lions’ densand the mountain haunts of the leopards.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>You have stolen my heart, my sister, my bride!You have stolen my heart with one glance of your eyes, with one jewel of your necklace.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>How delightful is your love, my sister, my bride!How much better is your love than wine;the fragrance of your perfume is better than any spice!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>Your lips drip sweetness like the honeycomb, my bride;honey and milk are under your tongue.The fragrance of your garments is like the fragrance of Lebanon.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] You are a locked garden, my sister, my bride;you are an enclosed spring, a sealed-up fountain.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>Your shoots are a royal garden full of pomegranateswith choice fruits:henna with nard,</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>nard and saffron,calamus and cinnamon with every kind of spice,myrrh and aloes with all the finest spices.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_15</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>15</integer>
					<key>text</key>
					<string>You are a garden spring, a well of fresh water flowing down from Lebanon.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_4_16</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>16</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Awake, O north wind; come, O south wind!Blow on my garden so that its fragrant spices may send out their sweet smell. May my beloved come into his gardenand eat its delightful fruit!</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>5</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] I have entered my garden, O my sister, my bride;I have gathered my myrrh with my balsam spice.I have eaten my honeycomb and my honey;I have drunk my wine and my milk![The Poet to the Couple:] Eat, friends, and drink! Drink freely, O lovers!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>[The Beloved about Her Lover:] I was asleep, but my mind was dreaming. Listen! My lover is knocking at the door! [The Lover to His Beloved:] “Open for me, my sister, my darling,my dove, my flawless one!My head is drenched with dew,my hair with the dampness of the night.”</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] “I have already taken off my robe—must I put it on again?I have already washed my feet—must I soil them again?”</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>My lover thrust his hand through the hole, and my feelings were stirred for him.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>I arose to open for my beloved;my hands dripped with myrrh—my fingers flowed with myrrhon the handles of the lock.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>I opened for my beloved,but my lover had already turned and gone away. I fell into despair when he departed. I looked for him but did not find him;I called him, but he did not answer me.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>The watchmen found me as they made their rounds in the city.They beat me; they bruised me;they took away my cloak, those watchmen on the walls!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>[The Beloved to the Maidens:] I admonish you, O maidens of Jerusalem—If you find my beloved, what will you tell him?Tell him that I am lovesick!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>[The Maidens to The Beloved:] Why is your beloved better than others, O most beautiful of women?Why is your beloved better than others,that you would admonish us in this manner?</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>[The Beloved to the Maidens:] My beloved is dazzling and ruddy; he stands out in comparison to all other men.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>His head is like the purest gold. His hair is curly—black like a raven.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>His eyes are like doves by streams of water,washed in milk, mounted like jewels.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>His cheeks are like garden beds full of balsam trees yielding perfume.His lips are like lilies dripping with drops of myrrh.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>His arms are like rods of gold set with chrysolite.His abdomen is like polished ivory inlaid with sapphires.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_15</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>15</integer>
					<key>text</key>
					<string>His legs are like pillars of marble set on bases of pure gold.His appearance is like Lebanon, choice as its cedars.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_5_16</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>16</integer>
					<key>text</key>
					<string>His mouth is very sweet; he is totally desirable. This is my beloved!This is my companion, O maidens of Jerusalem!</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>6</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>[The Maidens to the Beloved:] Where has your beloved gone,O most beautiful among women?Where has your beloved turned?Tell us, that we may seek him with you.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>[The Beloved to the Maidens:] My beloved has gone down to his garden, to the flowerbeds of balsam spices, to graze in the gardens,and to gather lilies.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>[The Beloved about Her Lover:] I am my lover’s, and my lover is mine; he grazes among the lilies.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] My darling, you are as beautiful as Tirzah, as lovely as Jerusalem, as awe-inspiring as bannered armies.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>Turn your eyes away from me—they overwhelm me!Your hair is like a flock of goatsdescending from Mount Gilead.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>Your teeth are like a flock of sheepcoming up from the washing;each has its twin;not one of them is missing.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>Like a slice of pomegranateis your forehead behind your veil.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>There may be sixty queens,and eighty concubines,and young women without number.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>But she is unique, my dove, my perfect one!She is the special daughter of her mother;she is the favorite of the one who bore her.The maidens saw her and complimented her; the queens and concubines praised her:</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>“Who is this who appears like the dawn? Beautiful as the moon, bright as the sun,awe-inspiring as the stars in procession?”</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] I went down to the orchard of walnut trees, to look for the blossoms of the valley, to see if the vines had buddedor if the pomegranates were in bloom.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>I was beside myself with joy! There please give me your myrrh, O daughter of my princely people.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_6_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] (7:1) Turn, turn, O Perfect One! Turn, turn, that I may stare at you![The Beloved to Her Lover:] Why do you gaze upon the Perfect Onelike the dance of the Mahanaim?</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>7</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] (7:2) How beautiful are your sandaled feet,O nobleman’s daughter! The curves of your thighs are like jewels,the work of the hands of a master craftsman.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>Your navel is a round mixing bowl—may it never lack mixed wine! Your belly is a mound of wheat,encircled by lilies.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>Your two breasts are like two fawns,twins of a gazelle.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>Your neck is like a tower made of ivory. Your eyes are the pools in Heshbonby the gate of Bath Rabbim. Your nose is like the tower of Lebanonoverlooking Damascus.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>Your head crowns you like Mount Carmel. The locks of your hair are like royal tapestries—the king is held captive in its tresses!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>How beautiful you are! How lovely,O love, with your delights!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] Your stature is like a palm tree, and your breasts are like clusters of grapes.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>I want to climb the palm tree and take hold of its fruit stalks.May your breasts be like the clusters of grapes, and may the fragrance of your breath be like apples!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>May your mouth be like the best wine,flowing smoothly for my beloved,gliding gently over our lips as we sleep together.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>[The Beloved about Her Lover:] I am my beloved’s,and he desires me!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Come, my beloved; let us go to the countryside;let us spend the night in the villages.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>Let us rise early to go to the vineyards,to see if the vines have budded,to see if their blossoms have opened,if the pomegranates are in bloom—there I will give you my love.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_7_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>The mandrakes send out their fragrance;over our door is every delicacy, both new and old, which I have stored up for you, my lover.</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>number</key>
			<integer>8</integer>
			<key>verses</key>
			<array>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_1</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>1</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Oh, how I wish you were my little brother, nursing at my mother’s breasts;if I saw you outside, I could kiss you—surely no one would despise me!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_2</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>2</integer>
					<key>text</key>
					<string>I would lead you and bring you to my mother’s house,the one who taught me. I would give you spiced wine to drink, the nectar of my pomegranates.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_3</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>3</integer>
					<key>text</key>
					<string>[The Beloved about Her Lover:] His left hand is under my head,and his right hand embraces me.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_4</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>4</integer>
					<key>text</key>
					<string>[The Beloved to the Maidens:] I admonish you, O maidens of Jerusalem:“Do not arouse or awaken love until it pleases!”</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_5</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>5</integer>
					<key>text</key>
					<string>[The Maidens about His Beloved:] Who is this coming up from the wilderness,leaning on her beloved?[The Beloved to Her Lover:] Under the apple tree I aroused you; there your mother conceived you;there she who bore you was in labor of childbirth.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_6</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>6</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Set me like a cylinder seal over your heart, like a signet on your arm. For love is as strong as death; passion is as unrelenting as Sheol.Its flames burst forth; it is a blazing flame.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_7</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>7</integer>
					<key>text</key>
					<string>Surging waters cannot quench love;floodwaters cannot overflow it.If someone were to offer all his possessions to buy love, the offer would be utterly despised.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_8</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>8</integer>
					<key>text</key>
					<string>[The Beloved’s Brothers:] We have a little sister,and as yet she has no breasts.What shall we do for our sisteron the day when she is spoken for?</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_9</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>9</integer>
					<key>text</key>
					<string>If she is a wall, we will build on her a battlement of silver;but if she is a door,we will barricade her with boards of cedar.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_10</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>10</integer>
					<key>text</key>
					<string>[The Beloved:] I was a wall,and my breasts were like fortress towers. Then I found favor in his eyes.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_11</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>11</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Solomon had a vineyard at Baal Hamon;he leased out the vineyard to those who maintained it.Each was to bring 1,000 shekels of silver for its fruit.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_12</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>12</integer>
					<key>text</key>
					<string>My vineyard, which belongs to me, is at my disposal alone. The thousand shekels belong to you, O Solomon,and 200 shekels belong to those who maintain it for its fruit.</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_13</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>13</integer>
					<key>text</key>
					<string>[The Lover to His Beloved:] O you who stay in the gardens,my companions are listening attentively for your voice;let me be the one to hear it!</string>
				</dict>
				<dict>
					<key>id</key>
					<string>Song+of+Solomon_8_14</string>
					<key>isPoetry</key>
					<true/>
					<key>number</key>
					<integer>14</integer>
					<key>text</key>
					<string>[The Beloved to Her Lover:] Make haste, my beloved!Be like a gazelle or a young stagon the mountains of spices.</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>name</key>
	<string>Song+of+Solomon</string>
</dict>
</plist>
